.container {
  position: relative;
  border-radius: 5px;
  overflow-y: auto;
  outline: 1px solid var(--border-color);
  background-color: "white";
}

.table {
  width: 100%;
  border-radius: 5px;
  background-color: "white";
}

/* HEADERS */
.table thead {
  position: sticky;
  top: 0;
  width: 100%;
}

.table thead th {
  text-align: left;
  padding: 10px 15px;
  border-bottom: 1px solid var(--border-color);
}

/* .table td { */
/*   width:  50%; */
/* } */

/* BODY */
.table tbody tr {
  border-bottom: 1px solid var(--border-color);
}

.table tbody tr td {
  padding: 10px 15px;
}

/* BUTTONS */
.table .buttons {
  display: flex;
  gap: 10px;
  width: max-content;
}

.table button {
  background-color: transparent;
  border: none;
}

.table button img {
  height: 20px;
  filter: var(--filter-primary);
  transition: 0.2s;
}

.table button:hover {
  background-color: #ccc;
}

.table td:last-child button:last-child img {
  filter: invert(28%) sepia(73%) saturate(7153%) hue-rotate(353deg)
    brightness(94%) contrast(125%);
}

/* ALERT */
.table .signal {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: grey;
}

.table .state1 {
  background-color: green;
}

.table .state2 {
  background-color: yellow;
}

.table .state3 {
  background-color: red;
}

/* FOOTER */
.table tfoot {
  flex: 0 0 auto; /* Evita que el tfoot se estire */
  position: sticky;
  bottom: 0; /* Fija el footer en la parte inferior */
  z-index: 1; /* Asegura que el tfoot esté encima del tbody */
}

.table tfoot tr {
  display: table-row; /* Asegura que las filas del tfoot se comporten como filas de tabla */
  color: white;
  background-color: var(--panel);
}

.table tfoot tr td {
  text-align: end;
  padding: 5px 10px;
  display: table-cell; /* Asegura que las celdas se comporten como celdas de tabla */
}

.empty {
  padding: 30px;
  text-align: center;
}
